
module mypol 1.0;

require {
	type httpd_t;
	type user_home_t;
	class dir { write search getattr };
}

#============= httpd_t ==============
allow httpd_t user_home_t:dir write;

#!!!! This avc is allowed in the current policy
allow httpd_t user_home_t:dir { search getattr };
